<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="xyz.stxkfzx.manager.face.mapper.SignItemMapper">

	<resultMap id="SignResultMap" type="xyz.stxkfzx.manager.face.pojo.TSignItemNew">
		<id column="sign_item_id" property="signItemId" jdbcType="INTEGER"/>
		<id column="user_id" property="userId" jdbcType="INTEGER"/>
		<result column="sign_in_time" property="signInTime" jdbcType="TIMESTAMP"/>
		<result column="sign_out_time" property="signOutTime" jdbcType="TIMESTAMP"/>
		<result column="sign_in_img_id" property="signInImgId" jdbcType="VARCHAR"/>
		<result column="sign_out_img_id" property="signOutImgId" jdbcType="INTEGER"/>
	</resultMap>

	<sql id="Sign_Column_List">
        sign_item_id, user_id, sign_in_time, sign_out_time, sign_in_img_id, sign_out_img_id
    </sql>

	<insert id="insertSignItem" useGeneratedKeys="true" keyProperty="signItemId" parameterType="xyz.stxkfzx.manager.face.pojo.TSignItemNew">
		insert into t_sign_item(user_id, sign_in_time, sign_in_img_id)
		values (#{userId}, #{signInTime}, #{signInImgId})
	</insert>
		
	<select id="selSignItemNew" resultMap="SignResultMap">
		SELECT
		<include refid="Sign_Column_List"/>
		from t_sign_item
		<where>
			<if test="userId != 0">
				user_id = #{userId}
			</if>
		</where>
		and
		UNIX_TIMESTAMP(sign_in_time)
		between UNIX_TIMESTAMP(#{startTime}) and UNIX_TIMESTAMP(#{endTime})
		ORDER BY user_id ASC
	</select>

	<update id="updateSignItem" useGeneratedKeys="true" keyProperty="item.signItemId" parameterType="xyz.stxkfzx.manager.face.pojo.TSignItemNew">
		update t_sign_item
		set sign_out_time = #{item.signOutTime},
		sign_out_img_id = #{item.signOutImgId}
		where user_id = #{item.userId}
		and
		UNIX_TIMESTAMP(sign_in_time) &gt;= UNIX_TIMESTAMP(#{todayStart})
		AND
		UNIX_TIMESTAMP(sign_in_time) &lt;= UNIX_TIMESTAMP(#{todayEnd})
		ORDER BY sign_item_id DESC LIMIT 1;
	</update>
	
	<delete id="deleteSignout">
		update signitem set signout=NULL,signout_img=NULL where userId=#{xxx}
	</delete>
</mapper>