<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="xyz.stxkfzx.manager.user.mapper.UserMapper">

	<insert id="insertUser"  useGeneratedKeys="true" keyProperty="id" >
		insert into user(group_id, user_id, user_info)
		values(#{group_id}, #{user_id}, #{user_info})
	</insert>

	<select id="selectUser" resultType="xyz.stxkfzx.manager.user.pojo.TUser">
		select * from user
		<where>
			<if test="group_id != null and group_id != ''">
				and group_id = #{group_id}
			</if>
			<if test="user_id != null and user_id != ''">
				and user_id = #{user_id}
			</if>
			<if test="user_info != null and user_info != ''">
				and user_info = #{user_info}
			</if>
		</where>
	</select>

	<select id="selectUserTest" resultType="String">
		select user_info from test
	</select>
</mapper>